.modal-vendas {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.modal-vendas__container {
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: 16px;
  max-width: 900px;
  width: 95%;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.modal-vendas__titulo {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #1F2937;
}

.modal-vendas__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.modal-vendas__coluna {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.modal-vendas__botoes {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
