* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.card {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }

  .card--small {
    flex: 1 1 200px;
    max-width: 200px;
  }
  
  .card--medium {
    flex: 1 1 300px;
    max-width: 300px;
  }
  
  .card--large {
    flex: 1 1 1000px;
    max-width: 1000px;
  }
  
  .card__title {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
  }
  
  .card__value--inflow {
    font-size: 1.5rem;
    font-weight: bold;
    color: #10A171;
  }

  .card__value--outflow {
    font-size: 1.5rem;
    font-weight: bold;
    color: #EF4444;
  }
  
  .card__content {
    margin-top: 0.5rem;
  }